@model LeafShop.Models.Blog

@{
    ViewBag.Title = "Thêm mới bài viết";
}

<h2 style="font-size: 30px">Thêm mới bài viết</h2>
<hr />
<style>
    div a {
        color: white;
    }

        div a:hover {
            color: white;
        }
</style>
@using (Html.BeginForm("Create", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="pt-4 pb-3">
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0">

                    <div class="md-form md-outline mt-0">
                        <label for="form14">Tên nhân viên</label>
                        @Html.DropDownList("MaNhanVien", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaNhanVien, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form14">Tên danh mục blog</label>

                        @Html.DropDownList("MaDanhMucBlog", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaDanhMucBlog, "", new { @class = "text-danger" })

                    </div>
                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form15">Tiêu đề</label>
                        @Html.EditorFor(model => model.TieuDe, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TieuDe, "", new { @class = "text-danger" })
                    </div>

                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form14">Ảnh</label>
                        <br />
                        <img id="output" class="img-rounded" alt="Ảnh" width="200" height="200" src="~/Content/image/h0.png" />

                        <input type="file" id="uploadhinh" name="ImageFile" accept="image/*" onchange="loadFile(event)" style="margin-top: 20px" />

                    </div>

                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form15">Tóm tắt</label>
                        @Html.EditorFor(model => model.Tomtat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Tomtat, "", new { @class = "text-danger" })
                    </div>

                    <br />
                    <div class="md-form md-outline mt-0">
                        <label for="form15">Nội dung</label>
                        @Html.EditorFor(model => model.Noidung, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Noidung, "", new { @class = "text-danger" })
                    </div>

                    <br />
                    <div class="md-form md-outline mt-0">
                        <input type="submit" value="Lưu" class="btn btn-primary" />
                        <div class="btn btn-warning">@Html.ActionLink("Quay trở lại", "Index")</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    }
</script>

@if (ViewBag.Error != null)
{
    <br />
    <div class="alert alert-danger col-lg-2" role="alert">@ViewBag.Error</div>
}