@model LeafShop.Models.NhanVien

@{
    ViewBag.Title = "Xóa nhân viên";
}
<style>
    td, th {
        padding: 10px;
    }

    div a {
        color: white;
    }

        div a:hover {
            color: white;
        }

    .w-50 {
        width: 50%;
    }
</style>
<h2 style="font-size: 30px">Xóa nhân viên</h2>
<hr />

<div style="display:flex;justify-content:center;">
    <div class="w-50">
        <table border="1" style="width:100%;">
            <tr>
                <th>
                    Tên nhân viên
                </th>
                <td>
                    @Model.TenNhanVien
                </td>
            </tr>
            <tr>
                <th>
                    Giới tính
                </th>
                <td>
                    @(Model.GioiTinh?"Nam":"Nữ")
                </td>
            </tr>
            <tr>
                <th>
                    Avatar
                </th>
                <td>
                    @{ var ImagePath = Model.Avatar != null ? Model.Avatar : "~/Content/image/h0.png"; } <img src="@Url.Content(ImagePath)" style="width: 150px; height: 150px;" />
                </td>
            </tr>
            <tr>
                <th>
                    Email
                </th>
                <td>
                    @Model.Email
                </td>
            </tr>
            <tr>
                <th>
                    Ngày sinh
                </th>
                <td>

                    @{ var date = Model.NgaySinh.HasValue ? Model.NgaySinh.Value.ToString("dd-MM-yyyy") : String.Empty; } @date
                </td>
            </tr>
            <tr>
                <th>
                    Điện thoại
                </th>
                <td>
                    @Model.DienThoai
                </td>
            </tr>
            <tr>
                <th>
                    Địa chỉ
                </th>
                <td>
                    @Model.DiaChi
                </td>
            </tr>

        </table>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color" style=";margin-top:10px;text-align:center;">
                <input type="submit" value="Xoá" class="btn btn-danger" onclick="return confirmDelete()" />
                <div class="btn btn-warning">@Html.ActionLink("Quay trở lại", "Index")</div>
            </div>
        }
    </div>
</div>
<script>
    function confirmDelete() {
        var result = confirm('Bạn có chắc chắn muốn XÓA?')
        if (result) {
            return true;
        }
        else {
            return false;
        }
    }
</script>
@if (ViewBag.Error != null)
{
    <br />
    <div class="alert alert-danger col-lg-2" role="alert">@ViewBag.Error</div>
}