@model LeafShop.Models.KhachHang

@{
    ViewBag.Title = "Xóa khách hàng";
}

<h2 style="font-size: 30px">Xóa khách hàng</h2>
<style>
    td, th {
        padding: 10px;
    }

    button a {
        color: white;
    }

        button a:hover {
            color: white;
        }

    .w-50 {
        width: 50%;
    }
</style>
<hr />
<div style="display:flex;justify-content:center;">
    <div class="w-50">
        <table border="1" style="width:100%;">
            <tr>
                <th>
                    Tên khách hàng
                </th>
                <td>
                    @Model.TenKhachHang
                </td>
            </tr>
            <tr>
                <th>
                    Địa chỉ
                </th>
                <td>
                    @Model.DiaChiKhachHang
                </td>
            </tr>
            <tr>
                <th>
                    Số điện thoại
                </th>
                <td>
                    @Model.DienThoaiKhachHang
                </td>
            </tr>
            <tr>
                <th>
                    Tên đăng nhập
                </th>
                <td>
                    @Model.TenDangNhap
                </td>
            </tr>
            <tr>
                <th>
                    Mật khẩu
                </th>
                <td>

                    @Model.MatKhau
                </td>
            </tr>
            <tr>
                <th>
                    Ngày sinh
                </th>
                <td>
                    @{ var date = Model.NgaySinh.HasValue ? Model.NgaySinh.Value.ToString("dd-MM-yyyy") : String.Empty; } @date
                </td>
            </tr>
            <tr>
                <th>
                    Giới tính
                </th>
                <td>
                    @(Model.GioiTinh?"Nam":"Nữ")
                </td>
            </tr>
            <tr>
                <th>
                    Email
                </th>
                <td>
                    @Model.Email
                </td>
            </tr>
            <tr>
                <th>
                    Trạng thái
                </th>
                <td>
                    @(Model.TrangThai?"Đang hoạt động":"Không hoạt động")
                </td>
            </tr>
        </table>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-actions no-color" style=";margin-top:10px;text-align:center;">
        <input type="submit" value="Xoá" class="btn btn-danger" onclick="return confirmDelete()" />
        <button class="btn btn-warning">@Html.ActionLink("Quay trở lại", "Index")</button>
    </div>
        }
    </div>
</div>
@if (ViewBag.Error != null)
{
    <br />
    <div class="alert alert-danger col-lg-2" role="alert">@ViewBag.Error</div>
}

<script>
    function confirmDelete() {
        var result = confirm('Bạn có chắc chắn muốn XÓA?')
        if (result) {
            return true;
        }
        else {
            return false;
        }
    }
</script>